.header {
    background: linear-gradient(135deg, #833AB4, #0868AC);
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  .profile-image {
    max-width: 200px;
    border-radius: 50%;
  }
  